@page
@model WebApplication1.Pages.animal.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>animals</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.animals.Agenus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.animals.Agenus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.animals.Aspecies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.animals.Aspecies)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.animals.Alocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.animals.Alocation)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.animals.Aid">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
