@page
@model WebApplication1.Pages.animal.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.animals[0].Agenus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.animals[0].Aspecies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.animals[0].Alocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.animals) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Agenus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aspecies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alocation)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Aid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Aid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Aid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
