@page
@model WebApplication1.Pages.ZooKeepers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.zkeeper[0].ZKfname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zkeeper[0].ZKlname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zkeeper[0].ZKteam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.zkeeper) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ZKfname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZKlname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZKteam)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ZKid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ZKid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ZKid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
